/web/bundles/
/web/css/*
/web/js/*
/app/bootstrap.php.cache
/app/check.php
/app/SymfonyRequirements.php
/app/cache/*
/app/config/parameters.yml
/app/config/config_ignored.yml
/app/config/enabled_bundles.yml
/app/config/security/security_custom.yml
/app/config/security/permission_rules_custom.yml
/app/logs/*
/app/Resources/uploads/
/build/
/vendor/
/bin/
/composer.phar
/web/*/
/vagrant/.vagrant
/vagrant/Vagrantfile
/.vscode/
composer_custom.json
/scripts/updatePlugin.sh
/docker-compose/.data/
/.idea

src/Elcodi/Plugin/*
!src/Elcodi/Plugin/BankwireBundle/
!src/Elcodi/Plugin/CustomShippingBundle/
!src/Elcodi/Plugin/DisqusBundle/
!src/Elcodi/Plugin/FacebookBundle/
!src/Elcodi/Plugin/FreePaymentBundle/
!src/Elcodi/Plugin/GoogleAnalyticsBundle/
!src/Elcodi/Plugin/PinterestBundle/
!src/Elcodi/Plugin/ProductCsvBundle/
!src/Elcodi/Plugin/StoreSetupWizardBundle/
!src/Elcodi/Plugin/StoreTemplateBundle/
!src/Elcodi/Plugin/StripeBundle/
!src/Elcodi/Plugin/TwitterBundle/
!src/Elcodi/Plugin/PaypalWebCheckoutBundle/
.env
