parameters:

    locale: en

    # Common Database
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: bamboo
    database_user: user
    database_password: password

    # Mailer
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mailer_port: ~

    secret: 4acbc300e57d46cb58ac0c629945c17b727f99c8

    use_assetic_controller: false
    debug_toolbar: true
    debug_redirects: false

    paypal_web_checkout_recipient: payment-test-facilitator@elcodi.com

    bamboo_social_github_client_id: github-client-id
    bamboo_social_github_client_secret: github-client-secret

    bamboo_social_paypal_client_id: paypal-client-id
    bamboo_social_paypal_client_secret: paypal-client-secret
    bamboo_social_paypal_client_is_sandbox: true

    bamboo_admin_prefix: admin
    bamboo_api_prefix: api
    bamboo_store_firewall: store_area

    elcodi.core.bamboo.cache_prefix: bamboostore01
    # number of item for page with paginator
    item_for_page: 12

    # eventual pattern prefix for multitenant administration (use '/..' for a two letter folder)
    bamboo_admin_pattern_prefix: ''

    # number of item for the carousel
    carousel_item: 18

    # defines the default connector for the category filter (values: 'or' / 'and')
    category_default_connector: 'or'

    # defines the list of permission resources available
    permissions_list:
        product: 'Products'
        category: 'Categories'
        order: 'Orders'
        customer: 'Customers'
        attribute: 'Attributes'
        banner: 'Banner'
        bannerZone: 'Banner Zone'
        coupon: 'Coupons'
        currency: 'Currency'
        country: 'Countries'
        location: 'Locations'
        language: 'Languages'
        image: 'Images'
        metric: 'Metrics'
        newsletter: 'Newsletter'
        page: 'Pages'
        plugin: 'Plugins'
        manufacturer: 'Manufacturers'
        pack: 'Packs'
        rule: 'Rules'
        store: 'Store'
        tax: 'Taxes'
        template: 'Template'
        user: 'Users'
        permissions: Permissions

    store_access_role: IS_AUTHENTICATED_ANONYMOUSLY

    partial_sku_match: false

