    <td>
        <a href="{{ path('admin_country_edit', { id: entity.id }) }}">
            <strong>{{ entity.name|truncate(20, '…') }}</strong>
        </a>
    </td>

    {% include '@AdminCore/Tables/actions.html.twig' with {
        entity: entity,
        delete: not entity.persistent,
        class: 'country',
    } %}
