{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ render(path("admin_banner_zone_edit_component", {
                'id': id
            })) }}
        </div>
    </div>

{% endblock content %}
